/* configuração básica da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo geral do body */
body{
    /* border: 1px solid green; */
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f9f8;
    padding: 0 10px;

}
header{
    text-align: center;
    margin: 20px 0 ;
}
header h1{
    font-size: 2.5rem;
    color: #444;
}
header p{
    font-size: 1.2rem;
    color: #667;
}
main{
   max-width: 800px;
   margin: 0 auto;
   padding: 20px; 
   background: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-section{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-section input{
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}
.search-section button{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background 0.3s;

}
.search-section button:hover{
    background: #0056b3;
}